.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.image_section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-image: url('../images/HomeBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.image_section h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    text-align: center;
    z-index: 1;
}

.image_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    border-radius: 10px;
}

.content_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 40px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

header p {
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: justify;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(246, 53, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(244, 102, 102);
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features ul li {
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    header h1 {
        font-size: 2rem;
    }
    
    header p {
        font-size: 1rem;
    }
    
    button {
        font-size: 0.9rem;
    }
}
